body{
    padding-top: 10px;
}

.btn-primary{
    margin-top: 4px;
    margin-bottom: 4px;
}

.pagination{
    margin : 17px 0;
}
.twitter {
    min-height: 90px;
    background-color: #EEE;
    border: 1px solid white;
    padding-top: 10px;
}

img{
    float: left;
    margin-right: 10px;
    margin-bottom:10px;
}

.screen_name {
    font-weight: bolder;
}
